.App {
  padding: 50px;
  display: flex;
  justify-content: center;
  background: lightseagreen;
}

.container {
  width: 1000px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grow1 {
  flex: 1
}

.grow3 {
  flex: 3
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.p-10 {
  padding: 10px;
}

.toolbar {
  display: flex;
  padding: 10px;
  background: rgb(6, 0, 0);
  margin-bottom: 20px;
}

.toolbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

.post {
  padding: 10px;
  margin: 10px;
  background-color: #eaeaea;
  width: 300px;
}

.post img {
  width: 100%;
}

button {
  padding: 10px  ;
  color: black;
  background: lightblue;
  margin: 0px 3px;
  cursor: pointer;
}

input {
  margin: 20px;
  padding: 10px;
}

.profile {
  width: 200px;
  height: 200px;
}


